
.totalQty {
    background-color: indianred;
    height: 20px;
    width: 20px;
    color: ivory;
    border-radius: 100px;
}

.rounded-btn {
    border-radius: 100px;
    border-color: #fff;
    display: flex;
    justify-content: center;
    border-style: double;
}

.rounded-btn:hover {
    transform: scale(1.15);
}
