
<div class="container mt-4">
    <app-topbar [title]="'Product Details'"></app-topbar>
    <div class="container p-5 margin-box">
        
        <div class="row primary-bg-color box">
            <div class="col-md-12">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-5">
                                    <h3 class="d-flex justify-content-center"> Popular Shoes Trend </h3>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col-md-12 pb-5">
                                    <span class="d-flex justify-content-center"> Nike's Air Force 1s were among the most popular sneakers this year. </span>
                                </div>
                            </div>
    
                        </div>

                        <div class="col-md-4">
                            <div class="row product-img mt-5 mb-5">
                                <div class="col-md-12">
                                    <img
                                    class="p-3 mt-5 mb-5 img-size"
                                    src="https://images.tcdn.com.br/img/img_prod/790073/tenis_adidas_grandcourt_ee7968_177_1_20200807111214.png">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="primary-text d-flex justify-content-center product-price"> $ 239.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 p-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <span> Color: </span>
                                </div>
                                <p class="col-md-1 color mx-1"></p>
                                <p class="col-md-1 color mx-1"></p>
                                <p class="col-md-1 color mx-1"></p>
                                <p class="col-md-1 color mx-1"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span> Size: </span>
                                </div>
                                <div class="col-dm-6">
                                    <div class="row">
                                        <p class="col size mx-1 d-flex justify-content-center"> 36 </p>
                                        <p class="col size mx-1 d-flex justify-content-center"> 38 </p>
                                        <p class="col size mx-1 d-flex justify-content-center"> 40 </p>
                                        <p class="col size mx-1 d-flex justify-content-center"> 42 </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <button class="btn btn-lg btn-dark text-warning btn-add-cart"> Add to Cart </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-related-products></app-related-products>
</div>