
<div class="container mt-4">
    <app-topbar [title]="'Product Details'"></app-topbar>
    <div class="container p-5 margin-box">
        
        <div class="row primary-bg-color box">
            <div class="col-md-12">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 p-5">
                                    <h3 class="d-flex justify-content-center"> {{ product?.name }} </h3>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col-md-12 pb-5">
                                    <span class="d-flex justify-content-center"> {{ product?.description.slice(0, 120) + '...' }} </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div
                                    class="col-md-6"
                                    *ngFor="let image of product.images"
                                    (click)="selectImage(image, product.images)">
                                    <img
                                        class="product-images"
                                        [ngClass]="{'product-image-selected': image.selected}"
                                        width="100"
                                        [src]="image.src">
                                </div>
                            </div>
    
                        </div>

                        <div class="col-md-4">
                            <div class="row product-img mt-5 mb-5">
                                <div class="col-md-12">
                                    <img
                                    class="p-3 mt-5 mb-5 img-size"
                                    [src]="selectedImage">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="primary-text d-flex justify-content-center product-price"> {{ product.price | currency }} </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 p-5">
                            <div class="row my-4">
                                <app-review-product
                                    (wasRated)="setRating($event)"
                                    [reviewRating]="product.rating"></app-review-product>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span> Color: </span>
                                </div>
                                <p
                                    *ngFor="let color of product.colors"
                                    class="col-md-1 color mx-1"
                                    [style.background-color]="color.hexadecimal"
                                    [ngClass]="{'selected-color': color.selected}"
                                    (click)="selectColor(color, product.colors)"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span> Size: </span>
                                </div>
                                <div class="col-dm-6">
                                    <div class="row">
                                        <p
                                            *ngFor="let size of product.sizes"
                                            class="col size mx-1 d-flex justify-content-center"
                                            [ngClass]="{'selected-size': size.selected}"
                                            (click)="selectSize(size, product.sizes)"
                                            > {{ size.size }} </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5 d-flex justify-content-center">
                                <div class="col-md-4">
                                    <button 
                                        class="btn btn-sm btn-success btn-add-cart"
                                        [disabled]="!minusButtonIsEnable"
                                        (click)=decrementQty()>
                                        <i class="fa fa-minus"></i></button>
                                </div>
                                <div class="col-md-4">
                                    <form [formGroup]="qtyForm">
                                        <input
                                        formControlName="qty"
                                        type="number"
                                        class="form-control input-qty"
                                        [disabled]="!propertiesIsSelected"
                                        (change)="validateQuantity()"
                                        (focusout)="validateQuantity()">
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <button 
                                        class="btn btn-sm btn-success btn-add-cart"
                                        [disabled]="!plusButtonIsEnable"
                                        (click)=incrementQty()>
                                        <i class="fa fa-plus"></i></button>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <button 
                                        class="btn btn-lg btn-dark text-warning btn-add-cart"
                                        [disabled]="!addButtonIsEnable"
                                        (click)=addToCart()>
                                        <i class="fa fa-plus-circle"></i>
                                        Add to Cart </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-related-products [category]=product.category [code]=product.code></app-related-products>
</div>