
<div class="container mt-4">
    <app-topbar [title]="'Shop'"></app-topbar>
    <div class="row p-4 margin-boxes">
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
        <div class="col-md-4 mt-2">
            <app-product-box></app-product-box>
        </div>
    </div>
</div>