
<div class="container default-font mt-4">
    <div class="row">
        <div class="col-md-4">
            <span class="title">
                shophub
            </span>
        </div>
        <div class="col-md-3">
            <div class="row mt-4">
                <div
                    class="col-md-3 bar-option"
                    (click)="redirectToHome()"
                    [ngClass]="{'route-active': verifyIsActive('/home')}"> Home </div>
                <div
                    class="col-md-3 bar-option"
                    (click)="redirectToShop()"
                    [ngClass]="{'route-active': verifyIsActive('/products')}"> Shop </div>
                <div
                    class="col-md-3 bar-option"
                    (click)="redirectToBlog()"
                    [ngClass]="{'route-active': verifyIsActive('/blog')}"> Blog </div>
                <div
                    class="col-md-3 bar-option"
                    (click)="redirectToContact()"
                    [ngClass]="{'route-active': verifyIsActive('/contact')}"> Contact </div>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <div class="row mt-4">
                <div class="col-md-6">
                    <span> {{ totalPrice | currency }} </span>
                </div>
                <div class="col-md-6">
                    <app-rounded-button
                        class="d-flex justify-content-end"
                        [faIcon]="'fa fa-shopping-bag'"
                        [size]="50"
                        [totalQty]="totalQty"></app-rounded-button>
                </div>
            </div>
        </div>
    </div>
</div>

