
.box {
    background-image: radial-gradient(circle, #FED997, #fcecd1, #fff);
    border-radius: 5px;
}

.star-rating {
    font-size: 20px;
}

.rating-font {
    font-weight: bold;
}

.product-img {
    border-radius: 35px;
}

.box:hover {
    transform: scale(1.019);
}

.product-title {
    font-weight: bolder;
}

.product-img:hover {
    transform: scale(1.2);
}