<div class="container box">
    <div class="row">
        <div class="col-md-1">
            <i class="fa fa-star text-warning d-flex justify-content-start mt-3 star-rating"></i>
        </div>
        <div class="col-md-1 mt-3 rating-font">
            {{ product.rating }}
        </div>
        <div class="col-md-6 offset-4">
            <app-rounded-button
                class="d-flex justify-content-end mt-2 mb-1"
                [faIcon]="'fa fa-shopping-bag'"
                [size]="40"></app-rounded-button>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <img
            class="product-img"
            width="75%"
            [src]="productImage">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="d-flex justify-content-center product-title text-primary">
                {{ product?.name }}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="d-flex justify-content-center product-title text-primary mb-4">
                $ {{ product?.price ? product.price : null}}
            </span>
        </div>
    </div>
</div>