<div class="container box">
    <div class="row">
        <div class="col-md-12">
            <app-rounded-button
            class="d-flex justify-content-end mt-2 mb-1"
                [faIcon]="'fa fa-shopping-bag'"
                [size]="40"></app-rounded-button>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <img
            class="product-img"
            width="200"
            src="https://images.tcdn.com.br/img/img_prod/790073/tenis_adidas_grandcourt_ee7968_177_1_20200807111214.png">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="d-flex justify-content-center product-title text-primary">
                Popular Shoe Trends
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="d-flex justify-content-center product-title text-primary mb-4">
                $239.00
            </span>
        </div>
    </div>
</div>